body
{
    text-align: center;
    background-image: url('images/pc-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(233, 239, 228);
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    body {
        font-size: 1.2em;
        background-image: url("images/mobile-background.jpg");
        text-shadow: 1px 1px 4px black;
    }
}



@font-face{
    font-family: 'BlackJackFont';
    src: url("fonts/rooster-personal-use/font-rooster.ttf");
}

h1
{
    font-family: 'BlackJackFont', sans-serif;
    font-size: 7rem;
    margin-bottom: 5%;
}

.input-field
{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border: 0;
}


#start-game
{
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

button
{
    margin: 0.1rem;
    background-color: rgba(55, 200, 50, 0.582);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

button:hover
{
    background-color: rgba(55, 200, 50, 0.8);
    cursor: pointer;
}

button:active
{
    transform: scale(0.98);
}

li
{
    font-size: 1.2em;
    padding: 0.5rem;
    text-decoration: none;
}

#main-container
{
    display: block;
    margin: 1% auto;
    width: 20rem;
    font-size: 120%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 10px;
    
}

